
  <%-include("partials/header") %>

<%-include("partials/nav-bar")%>


  <div class="container">

    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="images/it1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Information</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/it2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Make a Ticket</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/it5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="/prestamo"><h5 class="card-title">Prestamo de Laptops y Hotspots</h5></a>
        <p class="card-text">This card has even longer content than the first to show that equal height action.</p>
      </div>

    </div>
  </div>
</div>

  </div>

























  <%-include("partials/footer") %>
